#answer {
    padding: 0.6em 1.2em;
    text-align: justify;
    border: solid 1px gainsboro;
    border-radius: 8px;
    margin-top: 1em;
    background-color: transparent;
    transition: border-color 0.25s;
}

#answer:hover {
    border-color: #ffffff;
    box-shadow: 0 0px 5px rgba(255, 255, 255, .4);
}

p {
    margin: 0px;
}