.conceptContainer {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    padding: 0.1em;
    width: fit-content;
    height: fit-content;
    border: solid 1px gray;
    border-radius: 4px;
    align-items: center;
}

.concept {
    /* width: 90%; */
    height: 100%;
    /* font-size: 1em; */
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.delConceptBtnContainer {
    /* width: 10%; */
    flex-grow: 1;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.delConceptBtn {
    /* text-align: center; */
    /* vertical-align: middle; */
    /* width: 100%;
    height: 100%; */
    /* font-size: medium; */
    /* border: 1px transparent; */
    /* border-radius: 4px; */
}