#fcPaneContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#fcPaneNavbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.navbarSpacer {
    flex-grow: 1;
}

#flashcardHeader {
    /* width: 70%; */
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

#cardBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fcCounter {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#fcPaneFcContainer {
    width: 100%;
    flex-grow: 1;
}

#fcPaneBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#fcPaneBottomBarContainer {
    display: flex;
    flex-direction: row;
}

#fcPaneVisibilityMenuContainer {
    flex-grow: 1;
}

#previewPane {
    height: 20%;
}