#pane3Container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#pane3Navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.navbarSpacer {
    flex-grow: 1;
}

#flashcardHeader {
    /* width: 70%; */
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

#cardBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fcCounter {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#pane3FcContainer {
    width: 100%;
    flex-grow: 1;
}

#pane3BtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#pane3BottomBarContainer {
    display: flex;
    flex-direction: row;
}

#pane3VisibilityMenuContainer {
    flex-grow: 1;
}