#pane1Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#pane1Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#lmHeader {
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

#pane1DisplayContainer, #editFormContainer, #addFormContainer {
    flex-grow: 1;
}

#lmBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#lmCounter {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#pane1BottomBarContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

#pane1VisibilityMenuContainer {
    flex-grow: 1;
}

.pane1BtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.label {
    font-weight: bold;
}

.table {
    border-collapse: collapse;
    text-align: left;
}

td {
    padding-right: 0.2em;
    vertical-align: top;
}