#pane2Container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#conceptHeader {
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

#conceptLabelContainer {
    height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#addFormContainer {
    height: 80%;
}

#addForm {
    display: flex;
    flex-direction: column;
}